<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false"
                     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                     xsi:schemaLocation="http://jakarta.apache.org/log4j/ ">

    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/var/log/Seer/Seer.log"/>
        <param name="Threshold" value="TRACE"/>
        <param name="Append" value="false"/>
        <param name="MaxFileSize" value="5MB"/>
        <param name="MaxBackupIndex" value="1"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd.MM.yyyy HH:mm:ss} [%-5p] %X{service} %X{user} [%c{1}] %m%n"/>
        </layout>
    </appender>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <param name="Threshold" value="TRACE"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd.MM.yyyy HH:mm:ss} [%-5p] %X{service} %X{user} [%c{1}] %m%n"/>
        </layout>
    </appender>

    <logger name="org.granite">
        <level value="WARN"/>
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="org.granite.messaging.webapp.AMFMessageServlet">
        <level value="WARN"/>
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="com.seer">
        <level value="TRACE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <root>
        <priority value="WARN"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</log4j:configuration>